/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App{
  display: flex;
  justify-content: space-between;
  /* margin-top: 30px; */
  border-bottom: 1px solid pink;
}
.in{
  display: flex;
  /* padding-left: 20px; */
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 50%;
  margin-left: 20px;
  /* padding-top: 10px; */
}
.logo{
  padding-top: 7px;
  color: black;

}
.sign{
  /* border: 1px solid red; */
  width:15%;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  /* height: 50px; */
  /* margin: auto; */
}
.signin{
  margin-top: 7px;
}
.button{
  margin: auto;
  border:1px solid red;

  width: 80px;
  /* margin-top: 5px; */
  /* margin-bottom: 5px; */
}